devices:
  MoveSense:
    name: "MoveSense"
    shortName: "MoveSense"
    services:
      #      - uuid: "0000180d-0000-1000-8000-00805f9b34fb"
      #        name: "Heart Rate Service"
      #        characteristics:
      #          - uuid: "00002a37-0000-1000-8000-00805f9b34fb"
      #            name: "Heart Rate Measurement"
      #            customParser: "parseBLEHRM"
      #            mqttTopic: "ble/heartrate"
      - uuid: "0000180f-0000-1000-8000-00805f9b34fb"
        name: "Battery Service"
        characteristics:
          - uuid: "00002a19-0000-1000-8000-00805f9b34fb"
            name: "Battery Level"
            mqttTopic: "ble/battery"
            structParser:
              endianness: "LITTLE_ENDIAN"
              fields:
                - name: "battery_level"
                  type: "byte"
      - uuid: "34802252-7185-4d5d-b431-630e7050e8f0"
        name : "Movesense GattSensorData Service"
        characteristics:
          # Available GattSensorData protocol measures:
          # - ECG
          # - IMU9
          - uuid: "34800001-7185-4d5d-b431-630e7050e8f0"
            name: "Movesense GSD Write Char"
          - uuid: "34800002-7185-4d5d-b431-630e7050e8f0"
            name: "Movesense GSD Read Char"
            mqttTopic: "ble/movesense"
    movesense_whiteboard:
      measures:
        - name: Temp
          methods:
            - subscribe
          path: /Meas/Temp
          mqttTopic: ble/movesense/Temp
          SingleMeasurementParser:
            - name: 'stimestamp'
              path: 'Body.Timestamp'
              type: 'integer'
            - name: 'temperature'
              path: 'Body.Measurement'
              type: 'float'
        - name: IMU9
          methods:
            - subscribe
          #path: /meas/IMU9/{SampleRate}
          path: /Meas/IMU9/13
          mqttTopic: ble/movesense/IMU9
          jsonPayloadParser:
            use_jq: true # Use the first(jq(...)) syntax for parsing
            fields:
              - name: 'stimestamp'
                path: 'Body.Timestamp'
                type: 'integer'
              - name: 'acc_x'
                path: 'Body.ArrayAcc[0].x'
                type: 'float'
              - name: 'acc_y'
                path: 'Body.ArrayAcc[0].y'
                type: 'float'
              - name: 'acc_z'
                path: 'Body.ArrayAcc[0].z'
                type: 'float'
              - name: 'gyro_x'
                path: 'Body.ArrayGyro[0].x'
                type: 'float'
              - name: 'gyro_y'
                path: 'Body.ArrayGyro[0].y'
                type: 'float'
              - name: 'gyro_z'
                path: 'Body.ArrayGyro[0].z'
                type: 'float'
              - name: 'mag_x'
                path: 'Body.ArrayMagn[0].x'
                type: 'float'
              - name: 'mag_y'
                path: 'Body.ArrayMagn[0].y'
                type: 'float'
              - name: 'mag_z'
                path: 'Body.ArrayMagn[0].z'
                type: 'float'
        - name: ECG
          methods:
            - subscribe
          path: /Meas/ECG/125
          mqttTopic: ble/movesense/ECG
          jsonArrayParser: 
            arrayPath: Body.Samples
            fields:
              - name: value
                type: integer
        - name: Battery
          methods:
            - get
        - name: SLOG
          path: /System/Debug/config
          methods:
            - get
        - name: Led
          methods:
            - get
            - put

  ZephyrTemperature:
    name: "ZephyrTemperature"
    shortName: "ZephyrTemperature"
    services:
      - uuid: "0000180f-0000-1000-8000-00805f9b34fb"
        name: "Battery Service"
        characteristics:
          - uuid: "00002a19-0000-1000-8000-00805f9b34fb"
            name: "Battery Level"
            mqttTopic: "ble/battery"
      - uuid: "00001809-0000-1000-8000-00805f9b34fb"
        name: "Temperature Service"
        characteristics:
          - uuid: "00002a6e-0000-1000-8000-00805f9b34fb"
            name: "Temperature"
            mqttTopic: "ble/temperature"

  BlueNRGLP:
    name: "BlueNRGLP"
    shortName: "BlueNRGLP"
    services:
      - uuid: "00000000-0001-11e1-9ab4-0002a5d5c51b"
        name: "BLUENRG_MS_SERVICE"
        characteristics:
          - uuid: "00140000-0001-11e1-ac36-0002a5d5c51b"
            name: "ST BLE TEMP"
            mqttTopic: "ble/dummy/temperature"
            structParser:
              endianness: "LITTLE_ENDIAN"
              fields:
                - name: "stimestamp"
                  type: "ushort"
                - name: "pressure"
                  type: "int"
                - name: "temperature"
                  type: "short"
          - uuid: "00c00000-0001-11e1-ac36-0002a5d5c51b"
            name: "ST BLE IMU"
            mqttTopic: "ble/dummy/imu"
            structParser:
              endianness: "LITTLE_ENDIAN"
              fields:
                - name: "stimestamp"
                  type: "ushort"
                - name: "accx"
                  type: "short"
                - name: "accy"
                  type: "short"
                - name: "accz"
                  type: "short"
                - name: "gyrox"
                  type: "short"
                - name: "gyroy"
                  type: "short"
                - name: "gyroz"
  BLPSMS:
    name: "BLPSMS"
    shortName: "BLPSMS"
    services:
      - uuid: "00000000-0001-11e1-9ab4-0002a5d5c51b"
        name: "BLUENRG_MS_SERVICE"
        characteristics:
          - uuid: "00140000-0001-11e1-ac36-0002a5d5c51b"
            name: "ST BLE TEMP"
            mqttTopic: "ble/dummylp/temperature"
            structParser:
              endianness: "LITTLE_ENDIAN"
              fields:
                - name: "stimestamp"
                  type: "ushort"
                - name: "pressure"
                  type: "int"
                - name: "temperature"
                  type: "short"
          - uuid: "00c00000-0001-11e1-ac36-0002a5d5c51b"
            name: "ST BLE IMU"
            mqttTopic: "ble/dummy/imu"
            structParser:
              endianness: "LITTLE_ENDIAN"
              fields:
                - name: "stimestamp"
                  type: "ushort"
                - name: "accx"
                  type: "short"
                - name: "accy"
                  type: "short"
                - name: "accz"
                  type: "short"
                - name: "gyrox"
                  type: "short"
                - name: "gyroy"
                  type: "short"
                - name: "gyroz"
  BLUENRGSENSOR:
    name: "BLUENRGSENSOR"
    shortName: "BLUENRGSENSOR"
    services:
      - uuid: "02366e80-cf3a-11e1-9ab4-0002a5d5c51b"
        name: "Accelerator Service"
        characteristics:
          - uuid: "340a1b80-cf4b-11e1-ac36-0002a5d5c51b"
            name: "Accelerator characteristic"
            mqttTopic: "ble/dummybnrg/acc"
            structParser:
              endianness: "LITTLE_ENDIAN"
              fields:
                - name: "accx"
                  type: "short"
                - name: "accy"
                  type: "short"
                - name: "accz"
                  type: "short"
          - uuid: "e23e78a0-cf4a-11e1-8ffc-0002a5d5c51b"
            name: "FreeFall characteristic"
            mqttTopic: "ble/dummybnrg/free_fall"
            structParser:
              endianness: "LITTLE_ENDIAN"
              fields:
                - name: "state"
                  type: "short"

  "BLEPnP":
    name: "BLEPnP"
    shortName: "BLEPnP"
    services:
      - uuid: "00000000-0001-11e1-9ab4-0002a5d5c51b"
        name: "FEATURES_SERVICE"
        characteristics:
          - uuid: "00020000-0001-11e1-ac36-0002a5d5c51b"
            name: "BATTERY_CHAR"
            mqttTopic: "ble/battery"
            structParser:
              endianness: "LITTLE_ENDIAN"
              fields:
                - name: "timestamp"
                  type: "ushort"
                - name: "battery_level"
                  type: "short"
                - name: "voltage_mV"
                  type: "short"
                - name: "current_mA"
                  type: "short"
          # - uuid: "00000014-0002-11e1-ac36-0002a5d5c51b"
          #   name: "EXT_CONFIG"
          #   mqttTopic: "ble/ext"
          - uuid: "00140000-0001-11e1-ac36-0002a5d5c51b"
            name: "TEMPERATURE"
            mqttTopic: "ble/temperature"
            structParser:
              endianness: "LITTLE_ENDIAN"
              fields:
                - name: "stimestamp"
                  type: "ushort"
                - name: "pressure"
                  type: "int"
                - name: "temperature"
                  type: "short"
          - uuid: "00e00000-0001-11e1-ac36-0002a5d5c51b"
            name: "ST BLE PNP IMU"
            mqttTopic: "ble/dummy/imu"
            structParser:
              endianness: "LITTLE_ENDIAN"
              fields:
                - name: "stimestamp"
                  type: "ushort"
                - name: "accx"
                  type: "short"
                - name: "accy"
                  type: "short"
                - name: "accz"
                  type: "short"
                - name: "gyrox"
                  type: "short"
                - name: "gyroy"
                  type: "short"
                - name: "gyroz"
                  type: "short"
                - name: "magx"
                  type: "short"
                - name: "magy"
                  type: "short"
                - name: "magz"
                  type: "short"

  "BCN-002":
    name: "BCN-002"
    shortName: "BCN-002"
    services:
      - uuid: "00000000-0001-11e1-9ab4-0002a5d5c51b"
        name: "FEATURES_SERVICE"
        characteristics:
          - uuid: "00020000-0001-11e1-ac36-0002a5d5c51b"
            name: "BATTERY_CHAR"
            mqttTopic: "ble/battery"
            structParser: 
              endianness: "LITTLE_ENDIAN"
              fields:
                - name: "timestamp"
                  type: "ushort"
                - name: "battery_level"
                  type: "short"
                - name: "voltage_mV"
                  type: "short"
                - name: "current_mA"
                  type: "short"
          - uuid: "00000014-0002-11e1-ac36-0002a5d5c51b"
            name: "EXT_CONFIG"
            mqttTopic: "ble/temperature"
          - uuid: "001c0000-0001-11e1-ac36-0002a5d5c51b"
            name: "TEMPERATURE AND HUMIDITY"
            mqttTopic: "ble/temperature"
            structParser:
              endianness: "LITTLE_ENDIAN"
              fields:
                - name: "stimestamp"
                  type: "ushort"
                - name: "pressure"
                  type: "int"
                - name: "humidity"
                  type: "short"
                - name: "temperature"
                  type: "short"
          - uuid: "00e00000-0001-11e1-ac36-0002a5d5c51b"
            name: "ST BLE B2 IMU"
            mqttTopic: "ble/dummy/imu"
            structParser:
              endianness: "LITTLE_ENDIAN"
              fields:
                - name: "stimestamp"
                  type: "ushort"
                - name: "accx"
                  type: "short"
                - name: "accy"
                  type: "short"
                - name: "accz"
                  type: "short"
                - name: "gyrox"
                  type: "short"
                - name: "gyroy"
                  type: "short"
                - name: "gyroz"
                  type: "short"
                - name: "magx"
                  type: "short"
                - name: "magy"
                  type: "short"
                - name: "magz"
                  type: "short"