devices:
  STDemo:
    name: "STDemo"
    shortName: "STDemo"
    services:
      - uuid: "0000180f-0000-1000-8000-00805f9b34fb"
        name: "Battery Service"
        characteristics:
          - uuid: "00002a19-0000-1000-8000-00805f9b34fb"
            name: "Battery Level"
            dataType: "4_byte_double"
            mqttTopic: "ble/battery"

  MoveSense:
    name: "MoveSense"
    shortName: "MoveSense"
    services:
      #      - uuid: "0000180d-0000-1000-8000-00805f9b34fb"
      #        name: "Heart Rate Service"
      #        characteristics:
      #          - uuid: "00002a37-0000-1000-8000-00805f9b34fb"
      #            name: "Heart Rate Measurement"
      #            dataType: "ble_heartrate_hrm"
      #            customParser: "parseBLEHRM"
      #            mqttTopic: "ble/heartrate"
      - uuid: "0000180f-0000-1000-8000-00805f9b34fb"
        name: "Battery Service"
        characteristics:
          - uuid: "00002a19-0000-1000-8000-00805f9b34fb"
            name: "Battery Level"
            dataType: "ble_battery_level"
            mqttTopic: "ble/battery"
      - uuid: "34802252-7185-4d5d-b431-630e7050e8f0"
        name : "Movesense GattSensorData Service"
        characteristics:
          # Available GattSensorData protocol measures:
          # - ECG
          # - IMU9
          - uuid: "34800001-7185-4d5d-b431-630e7050e8f0"
            name: "Movesense GSD Write Char"
            dataType: "movesense_write"
          - uuid: "34800002-7185-4d5d-b431-630e7050e8f0"
            name: "Movesense GSD Read Char"
            dataType: "movesense_read"
            mqttTopic: "ble/movesense"
    movesense_whiteboard:
      measures:
        - name: IMU9
          methods:
            - subscribe
          #path: /meas/IMU9/{SampleRate}
          path: /Meas/IMU9/13
          mqttTopic: ble/movesense/IMU9
          mqttTopic: 'ble/internal/movesense' # This should be the topic where the JSON is published
          jsonPayloadParser:
            use_jq: true # Use the first(jq(...)) syntax for parsing
            fields:
              - name: 'timestamp'
                path: 'Body.Timestamp'
                type: 'integer'
              - name: 'acc_x'
                path: 'Body.ArrayAcc[0].x'
                type: 'float'
              - name: 'acc_y'
                path: 'Body.ArrayAcc[0].y'
                type: 'float'
              - name: 'acc_z'
                path: 'Body.ArrayAcc[0].z'
                type: 'float'
              - name: 'gyro_x'
                path: 'Body.ArrayGyro[0].x'
                type: 'float'
              - name: 'gyro_y'
                path: 'Body.ArrayGyro[0].y'
                type: 'float'
              - name: 'gyro_z'
                path: 'Body.ArrayGyro[0].z'
                type: 'float'
              - name: 'mag_x'
                path: 'Body.ArrayMagn[0].x'
                type: 'float'
              - name: 'mag_y'
                path: 'Body.ArrayMagn[0].y'
                type: 'float'
              - name: 'mag_z'
                path: 'Body.ArrayMagn[0].z'
                type: 'float'

# Data type definitions
dataTypes:
  4_byte_double:
    size: 4
    conversion: "toDouble"
  4_byte_integer:
    size: 4
    conversion: "toInt"
  4_byte_float:
    size: 4
    conversion: "toFloat"
  custom_temperature:
    size: "variable"
    conversion: "custom"
    description: "Parse temperature data using custom logic"